.musicPlayer {
    --primary: #cc0001;
    --secondary: #000000;
    display: flex;
    width: 700px;
}

.forwardBackward {
    background: none;
    border: none;
    display: flex;
    align-items: center;
    font-family: monospace;
    font-size: 16px;
    cursor: pointer;
}

.forwardBackward:hover {
    color: var(--primary); 
}

.playPause {
    background: var --primary;
    border: none;
    width: 75px;
    height: 75;
    font-size: 32;
    color: var --secondary;
    display: flex;
    justify-content: center;
    align-items: center;
}